<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About US</title>
    <link rel="stylesheet" href="../assets/styles/about_us.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="logo">🎓 <span class="brand">GradNav</span></div>
      <nav>
        <a href="index.html">Home</a>
        <a href="service.html">Services</a>
        <a href="about_us.html" class="active">About us</a>
      </nav>
      <a href="login.html" class="button" id="logout_button">Logout</a>
    </header>

    <section class="about-us">
      <h2>Know About Us</h2>
      <p>Here is the developer team behind GradNav</p>
    </section>
    <section class="testimonial-section">
      <div class="card card1">
        <img
          src="../assets/images/mahdia.jpeg"
          alt="Mahdia Hossain"
          class="avatar"
        />
    
        <h3 class="name">Mahdia Hossain</h3>
        <p class"dept">Department of Computer Science and Engineering</p>
        <p class="desc">ID-233014123</p>
        <div class="socials">
          <a href="mailto:mahdia.hossain.cse@ulab.edu.bd" title="Email"
            ><i class="fas fa-envelope"></i
          ></a>
          <a
            href="https://linkedin.com/in/username"
            target="_blank"
            title="LinkedIn"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://github.com/mahdia-hossain"
            target="_blank"
            title="GitHub"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>

      <div class="card card2">
        <img
          src="../assets/images/user_female.jpg"
          alt="Sima Akter"
          class="avatar"
        />

        <h3 class="name">Sima Akter</h3>
        <p class"dept">Department of Computer Science and Engineering</p>
        <p class="desc">ID-232014040</p>
        <div class="socials">
          <a href="mailto:sima.akter.cse@ulab.edu.bd" title="Email"
            ><i class="fas fa-envelope"></i
          ></a>
          <a
            href="../assets/images/dummy.jpeg"
            target="_blank"
            title="LinkedIn"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://github.com/username" target="_blank" title="GitHub"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>

      <div class="card card3">
        <img
          src="../assets/images/dummy.jpeg"
          alt="Nina Greenfield"
          class="avatar"
        />
    
        <h3 class="name">Zeesad E Arham</h3>
        <p class"dept">Department of Computer Science and Engineering</p>
        <p class="desc">ID-233014127</p>
        
        <div class="socials">
          <a href="mailto:zeesad.arham.cse@ulab.edu.bd" title="Email"
            ><i class="fas fa-envelope"></i
          ></a>
          <a
            href="https://linkedin.com/in/username"
            target="_blank"
            title="LinkedIn"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://github.com/username" target="_blank" title="GitHub"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>

      <div class="card card4">
        <img
          src="../assets/images/dummy.jpeg"
          alt="Leo Martinez"
          class="avatar"
        />
        <!-- <p class="role">Cybersecurity Wiz</p> -->
        <h3 class="name">Imtiazur Rahman Shihab</h3>
        <p class"dept">Department of Computer Science and Engineering</p>
        <p class="desc">ID-232014084</p>

        <div class="socials">
          <a href="mailto:imtiazur.rahman.cse@ulab.edu.bd" title="Email"
            ><i class="fas fa-envelope"></i
          ></a>
          <a
            href="https://linkedin.com/in/username"
            target="_blank"
            title="LinkedIn"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://github.com/username" target="_blank" title="GitHub"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>

      <div class="card card5">
        <img
          src="../assets/images/IMG-20241212-WA0004.jpg"
          alt="Maya Chen"
          class="avatar"
        />
        <h3 class="name">Md Shayan Alam</h3>
        <p class"dept">Department of Computer Science and Engineering</p>
        <p class="desc">ID-232014048</p>
        <div class="socials">
          <a href="mailto:shayan.alam.cse@ulab.edu.bd" title="Email"
            ><i class="fas fa-envelope"></i
          ></a>
          <a
            href="www.linkedin.com/in/iamshayan"
            target="_blank"
            title="LinkedIn"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://github.com/ishayanalam"
            target="_blank"
            title="GitHub"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-links">
        <a href="https://github.com/ishayanalam/GradNav" target="_blank"
          >Github Repository</a
        >
        <a href="service.html">Services</a>
        <a href="about_us.html">About Us</a>
      </div>
      <p>© All rights reserved by GradNav, 2025</p>
    </footer>

    <script>
      document
        .getElementById("logout_button")
        .addEventListener("click", function () {
          console.log("Logout token");
          localStorage.removeItem("token");
        });
    </script>
  </body>
</html>
