<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Counseling</title>
    <link rel="stylesheet" href="../assets/styles/adminCounseling.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="logo">🎓 <span class="brand">GradNav</span></div>
      <nav>
        <a href="adminDashboard.html">Dashboard</a>
        <a href="adminClients.html">Clients</a>
        <a href="adminCounseling.html" class="active">Counseling</a>
      </nav>
      <a href="login_admin.html" class="button" id="logout_button">Logout</a>
    </header>

    <section class="admin-counseling"></section>

    <footer>
      <div class="footer-links">
        <a href="#">Contact</a>
        <a href="#">Services</a>
        <a href="about_us.html">About Us</a>
      </div>
      <p>© All rights reserved by GradNav, 2025</p>
    </footer>

    <script>
      document
        .getElementById("logout_button")
        .addEventListener("click", function () {
          console.log("Logout token");
          localStorage.removeItem("token");
        });
    </script>
  </body>
</html>
