<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GradGuide - Rating</title>
  <link rel="stylesheet" href="assets/styles/desktop3style.css">
</head>

<body>

  <header>
    <div class="logo">
      <span class="icon">🎓</span><span class="brand">GradNav</span>
    </div>
    <nav>
      <a href="#">Home</a>
      <a href="#" class="active">Services</a>
      <a href="#">About us</a>
    </nav>
    <a href="login.html" class="button">Login</a>
  </header>
  <main>
    <div class="recommendation_box">
      <h3>Based on your strength and high school subject <br>expertise, we recommend you these</h3>
      <div class="recommendation">
        <strong>CSE</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, officiis quo quam..</p>
      </div>
      <div class="recommendation">
        <strong>EEE</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, officiis quo quam..</p>
      </div>
      <div class="recommendation">
        <strong>Pharmacy</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, officiis quo quam..</p>
      </div>
      <div class="recommendation">
        <strong>BBA</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, officiis quo quam..</p>
      </div>
      <div class="recommendation">
        <strong>Media Studies</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, officiis quo quam..</p>
      </div>
    </div>
  </main>
  <!-- counceling -->

  <section class="counseling-section">
    <div class="container">
      <div class="counseling-content">
        <img src="assets/images/picture2.png" alt="Graduation Hat" class="hat-img" />
        <div class="text-button">
          <h2>
            For any confusion, Get one to one
            <span class="highlight">Counseling</span> from our experts.
          </h2>
          <button class="counseling-btn">Click Here</button>
        </div>
        <img src="assets/images/Picture1.png" alt="Online Counseling" class="counsel-img" />
      </div>
    </div>
  </section>

  </div>

  <footer>
    <div class="footer-links">
      <a href="#">Contact</a>
      <a href="#">Services</a>
      <a href="#">About</a>
    </div>
    <p>© All rights reserved by GradNav, 2025</p>
  </footer>

</body>

</html>