<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GradGuide</title>
  <link rel="stylesheet" href="../assets/styles/loginstyle.css">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">


</head>

<body>
  <div class="background">
    <div class="section_one">
      <div class="background_one">
        <h1> Welcome To <span>GradNav</span></h1>
        <p>Your path to the perfect university program starts here</p>
      </div>

      <div class="login_info">
        <h2>Login Information</h2>
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter your username"><br>

        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter your password"><br>

        <button class="login_button">Login</button><br>
        <div class="signup_page">Don't have an account? <span><a href="signup.html">Sign Up</a></span></div>
      </div>

    </div>
    <div class="section_two">
      <div>
        <h2>Find Your Perfect <span>Program</span></h2>
        <p>Get personalized recommendations based on your interests and skills</p>
      </div>
      <div class="partition">
        <ul>
          <li class="icon">

            <span class="material-symbols-outlined">
              task_alt
            </span>
            Skills Assessment

          </li>

          <li class="icon">

            <span class="material-symbols-outlined">
              school
            </span>
            Program Recomendations

          </li>

          <li class="icon">

            <span class="material-symbols-outlined">
              calendar_month
            </span>
            Expert Counseling

          </li>

        </ul>

      </div>





    </div>
  </div>
</body>

</html>