<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/styles/signupstyle.css">
  <title>Document</title>
</head>

<body>
  <div class="registration">
    <div class="heading">
      <h1> Welcome To <span>GradNav</span></h1>
      <p>Your path to the perfect university program starts here</p>
    </div>

    <div class="sign_up">
      <h2>Sign Up Information</h2>
      <label for="username">Name</label>
      <input type="text" id="username" placeholder="Enter your name"><br>
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Enter your email address"><br>
      <label for="institution">Institution</label>
      <input type="text" id="institution" placeholder="Enter the name of your institution"><br>
      <label for="level">Educational level</label>
      <input type="text" id="level" placeholder="Enter your educational level"><br>
      <div class="password_container">
        <div class="input_group ">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter password">
        </div>
        <div class="input_group ">
          <label for="password">Confirm Password</label>
          <input type="password" id="password" placeholder="Confirm password">
        </div>

      </div>


      <button class="signup_button">SignUp</button><br>

      <div class="login_page">Already have an account? <span><a href="login.html">Login</a></span></div>
    </div>



  </div>

</body>

</html>