<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles/signupstyle.css" />
    <title>GradNav - Sign Up</title>
  </head>

  <body>
    <div class="registration">
      <div class="heading">
        <h1>Welcome To <span>GradNav</span></h1>
        <p>Your path to the perfect university program starts here</p>
      </div>

      <div class="sign_up">
        <h2>Sign Up Information</h2>

        <form action="/signup" method="POST">
          <label for="username">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Enter your name"
            required
          /><br />

          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email address"
            required
          /><br />

          <label for="institution">Institution</label>
          <input
            type="text"
            id="institute"
            name="institute"
            placeholder="Enter the name of your institution"
            required
          /><br />

          <label for="level">Educational level</label>
          <input
            type="text"
            id="educationLevel"
            name="educationLevel"
            placeholder="Enter your educational level"
            required
          /><br />

          <div class="password_container">
            <div class="input_group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter password"
                required
              />
            </div>
          </div>

          <button type="submit" class="signup_button">Sign Up</button><br />
        </form>

        <div class="login_page">
          Already have an account?
          <span><a href="login.html">Login</a></span>
        </div>
      </div>
    </div>
  </body>

  <script>
    const name = document.getElementById("name");
    const email = document.getElementById("email");
    const institute = document.getElementById("institute");
    const educationLevel = document.getElementById("educationLevel");
    const password = document.getElementById("password");
    const signupButton = document.querySelector(".signup_button");

    signupButton.addEventListener("click", function (event) {
      event.preventDefault();

      if (
        name.value === "" ||
        email.value === "" ||
        institute.value === "" ||
        educationLevel.value === "" ||
        password.value === ""
      ) {
        alert("Please fill in all fields.");
      } else {
        // alert("Form submitted successfully!");
        
        let res = fetch("http://127.0.0.1:3000/api/signup", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-Authorization": "Bearer " + localStorage.getItem("token"),
          },
          body: JSON.stringify({
            name: name.value,
            email: email.value,
            institute: institute.value,
            education_level: educationLevel.value,
            password: password.value,
          }),
        });
        res
          .then((response) => {
            if (response.ok) {
              return response.json();
            } else {
              throw new Error("Network response was not ok");
            }
          })
          .then((data) => {
            console.log("Success:", data);
            //window.location.href = "/login.html";
            window.location.pathname = window.location.pathname.replace("signup.html", "login.html");

          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    });

  </script>
</html>