@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color:#f2edf5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.background {
    /* background: white; */
    padding: 25px;
    border-radius: 12px;
    /* box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15); */
    display: flex;
    width: 700px;
    justify-content: space-between;
    gap: 20px;
}
.background_one
{
  background-color:#f2edf5 ;
 
}
.background_one h1{
  font-size: 30px;
}

.section_one {
    width: 55%;
}


h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

h1 span {
    color: #6E51B0;
}




.login_info{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px 20px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding:15px 25px;
}

.login_info label {
   display: block;
    margin-bottom: 0px; 
    font-weight: bold;
}

.login_info input {
  width: 95%; 
    padding: 10px; 
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-top: 5px;
}


.login_button {
    width: 100%;
    background-color: #6E51B0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top : 10px;
    margin-bottom: 10px;
}

.login_button:hover {
     background: #9174d6;
}


.section_two {
    background: #eee6fc;
    padding: 90px 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin-top: 10px;
    
  
}

.section_two h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section_two h2 span {
    color: #6E51B0;
}
.section_two p{
  font-size: 15px;
  margin-bottom: 25px;
}
.section_two ul {
    list-style: none;
    padding: 0;
}

.section_two li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}


.section_two li::before {
    color: #6E51B0;
    font-weight: bold;
    margin-right: 5px;
}

.signup_page
{
    margin-bottom: 10px;
    text-align: center;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust spacing */
}

.icon {
  display: inline-block;
  vertical-align: middle;
}
a
{
    color:#6E51B0;
}