/* assets/styles/success.css */
body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EEEAF6;
    margin: 0;
  }
  
  .success-container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .success-container h1 {
    color: #28a745;
    margin-bottom: 20px;
  }
  
  .success-container p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .home-btn {
    padding: 10px 20px;
    background-color: #8254c8;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .home-btn:hover {
    background-color: #ad80f0;
  }
  